{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "processId = :processId",
        "expressionValues": {
            ":processId": {
                "S": "$context.source.id"
            }
        }
    }
}
